body {
  background-color: white;
  font-family: "TikTok Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContainer {
  width: 90vw; /* responsive width */
  max-width: 500px; /* caps width on larger screens */
  height: 90vh;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: white;
  display: flex;
  align-items: center;
  height: 80px;
  box-shadow: 1px 1px 5px #888888;
}

.colourPicker {
  height: 42px;
  margin-left: 15px;
  border: none;
}

button {
  width: 138px;
  height: 42px;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 3px;
  margin: 0 10px;
}

#colours {
  margin-left: 15px;
  width: 300px;
  height: 42px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
}

.colourDisplay,
.colourText {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 530px;
  gap: 0;
}

.colourText {
  font-size: 0.95rem;
  text-align: center;
}
