body {
  background-color: white;
  font-family: "TikTok Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContainer {
  width: 90vw; /* responsive width */
  max-width: 500px; /* caps width on larger screens */
  height: 90vh;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: gray;
  display: flex;
  align-items: center;
}

button {
  width: 138px;
  height: 42px;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 3px;
  margin-left: 230px;
}
