html,
body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
}

h1,
h2 {
  color: #eed6d3;
  margin: 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 16px;
}

h3 {
  margin: 25px;
}

/* layout */

header {
  background-color: #67595e;
}
