html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Text and icons */

h1 {
  color: #0f8cdf;
  margin-bottom: 10px;
  font-size: 0.9375rem;
}

i {
  font-size: 15px;
  cursor: pointer;
}

.fa-solid {
  color: #999;
}

.liked {
  color: red;
}

.retweeted {
  color: limegreen;
}

/* layout */
main,
header {
  width: 290px;
  margin: 0 auto;
}

header {
  padding-bottom: 25px;
}

.tweet-input-area {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

/* Textarea & btn */

textarea {
  border: none;
  resize: none;
  padding: 10px;
  margin: 0 0 20px 0;
  height: 60px;
  width: 100%;
  font-size: 1.25rem;
  line-height: 30px;
}

button {
  background-color: #1da1f2;
  border: none;
  color: white;
  padding: 10px 19px;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
}

/* Tweet */

.tweet {
  border-top: 1px solid lightgray;
  padding: 20px 0 0 0;
  width: 100%;
  margin: 15px 0;
}

/* Images */

.profile-pic {
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 48px;
}
