html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Text and icons */

h1 {
  color: #0f8cdf;
  margin-bottom: 10px;
  font-size: 20px;
}

i {
  font-size: 15px;
  cursor: pointer;
}

/* layout */
main,
header {
  width: 290px;
  margin: 0 auto;
}

header {
  padding-bottom: 25px;
}

.tweet-input-area {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
