html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.logo {
  display: flex;
  width: 150px;
}

.br {
  border-bottom: 1px solid #c6c6c6;
  margin: 20px 0;
}

.vincent-pfp {
  width: 60px;
  border-radius: 50px;
  margin-left: 20px;
  border: 1px solid black;
}

h1,
p {
  display: inline;
}
