html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.logo {
  display: flex;
  width: 230px;
  margin-left: 20px;
}

.spiderman {
  width: 100px;
  border-radius: 50%;
  text-align: end;
}

.br {
  border-bottom: 1px solid #c6c6c6;
  margin: 20px 0;
}

.vincent-pfp {
  width: 60px;
  border-radius: 50px;
  margin-left: 20px;
  border: 1px solid black;
}

h1,
p {
  display: inline;
}

.icons {
  display: flex;
  margin-top: 20px;
  justify-content: left;
  margin-left: 20px;
}

.heart-icon,
.comment-icon,
.dm-icon {
  height: 60px;
  margin-right: 20px;
}

h2 {
  text-align: left;
  margin-left: 20px;
}

span {
  font-weight: 300;
}
